{% extends 'layout.html' %}

{% block content %}
<!-- A wrapper for all the posts -->
<div>
    <h1 class="content-subhead">RECENT POSTS</h1>
    {% for post in pagination.items %}
    <section class="post">
        <header class="post-header">
            <img class="post-avatar" alt="author's avatar" src="{{static_url("image/avatar.jpg")}}" height="48" width="48">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-meta">
            <!-- By <a href="#" class="post-author">{{post.author}}</a> --> on <b>{{ post.date }}</b>
        {% if post.tags %} under 
            {% for tag in post.tags %}<a class="post-tag" href="{{ url_for(tag) }}">{{tag.name}}</a>
            {% endfor %}
        {% endif %}
            </p>
        </header>
        <div class="post-description">
			<p>{{post.description}} <a class="readmore" href="{{ url_for(post) }}">Read More>></a></p>
        </div>
    </section>
    {% endfor %}
</div>
{% if pagination.has_prev %}
<a href="{{ pagination.prev_permalink }}" class="page_nav" >Previous</a>
{% endif %}
{% if pagination.total > 1 %}
{% for pageIndex in range(0,pagination.total) %}
{% if pageination.page == (pageIndex+1) %}<span class="page_nav">{{pageination.page}}</span>
{% else %}<a class="page_nav" href="{{pageination.get_permalink(pageIndex+1)}}">{{pageIndex+1}}</a>
{% endif %}
{% endfor %}
{% endif %}
{% if pagination.has_next %}
<a href="{{ pagination.next_permalink }}" class="page_nav" >Next</a>
{% endif %}

{% endblock %}
