{% extends 'layout.html' %}

{% block content %}
<!-- A wrapper for all the posts -->
<div class="content">
    <h1 class="content-subhead">RECENT POSTS</h1>
    {% for post in pagination.items %}
    <section class="post">
        <header class="post-header">
            <img class="post-avatar" alt="author's avatar" src="{{static_url("image/avatar.jpg")}}" height="48" width="48">
            <h2 class="post-title"><a href="{{ url_for(post) }}">{{ post.title }}</a></h2>
            <p class="post-meta">
            <!-- By <a href="#" class="post-author">{{post.author}}</a> --> on <span class="time-stamp">{{ post.date }}</span>
        {% if post.tags %} under 
            {% for tag in post.tags %}<a class="post-tag tag-{{tag.name}}" href="{{ url_for(tag) }}">{{tag.name}}</a>
            {% endfor %}
        {% endif %}
            </p>
        </header>
        <div class="post-description">
            <p>{{post.description}}</p>
        </div>
    </section>
    {% endfor %}
</div>
{% if pagination.has_prev %}
<a id="prev" href="{{ pagination.prev_permalink }}" class="v_nav" >
    <span class="icon">Prev</span>
</a>
{% endif %}

{% if pagination.has_next %}
<a id="next" href="{{ pagination.next_permalink }}" class="v_nav" >
    <span class="icon">Next</span>
</a>
{% endif %}

{% endblock %}
